/* GLOBAL CALLS */

body {
    background-color: white;
    
}


/* NAV BAR */
nav {
    background-color: #f7f7f7;
}

.nav-title {
    text-align: center;
    margin-bottom: 20px;
}


/* TEXT BODY */
.text-section {
    height: 100px;
}


/* FOOTER */

footer {
    background-color: #f7f7f7;
}