/* GLOBAL CALLS */

body {
    background-color: white;
    
}

ul {
    list-style-type: none;
}


/* NAV BAR */

nav {
    grid-column: 1 / span 5;
    background-color: #f7f7f7;
}

.nav-title {
    text-align: center;
    margin-bottom: 2%;
}


/* TEXT BODY */


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-row-gap: 3%;
    grid-column-gap: 2%;
}

.grid-item {
    padding-top: 2rem;
    grid-column: 2 / span 4;
}


.clock-styling {
    background-color: #000000;
    color: #66ff33;
    width: 73px;
    letter-spacing: 2px;
}


.mouseover-div {
    height: 75px;
    width: 75px;
    border: #000000 1px solid;
    margin: 0.5rem;
    background-color: #ffff;
}

.get-col-but {
    margin-left: 0.5rem;
}


.slideshow-container {
    max-width: auto;
    margin: auto;
    position: relative;
}

.slideshow-slide {
    height: 300px;
    max-width: auto;
    display: none;
    float: left;
}

.slideshow-slide img {
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide-fade {
    -webkit-animation-name: slide-fade;
    -webkit-animation-duration: 1.7s;
    animation-name: slide-fade;
    animation-duration: 1.7s;
}

@-webkit-keyframes slide-fade {
    from {opacity: .3}
    to {opacity: 1}
}

@keyframes slide-fade {
    from {opacity: .3}
    to {opacity: 1}
}

 */

 
.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  max-height: 300px;
  font-size: 60%;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

.calc-button {
  height: 60px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
}

.calc-button:hover {
  background-color: #eaeaea;
}

.operator {
  color: #337cac;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}


/* SIDEBAR */

.sidebar {
    grid-row: 2 / span 5;
    background-color: #f7f7f7;
    padding: 2%, 0%, 0%, 0%;
}

.sidebar-header {
    padding-bottom: 0.7rem;
}

.sidebar div a {
    text-decoration: none;
    padding: 2%;
}

.sidebar div a:hover {
    font-size: 105%;
    transition-duration: 0.2ms;
}


/* FOOTER */

footer {
    grid-column: 1 / span 5;
    background-color: #f7f7f7;
}

.footer-txt {
    display: inline;
    padding-left: 3%;
    padding-right: 3%;
}

.footer-link {
    float: right;
}

footer div a {
    text-decoration: none;
}