/* GLOBAL CALLS */

body {
    background-color: white;
    
}

ul {
    list-style-type: none;
}


/* NAV BAR */

nav {
    grid-column: 1 / span 5;
    background-color: #f7f7f7;
}

.nav-title {
    text-align: center;
    margin-bottom: 2%;
}


/* TEXT BODY */


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-row-gap: 3%;
    grid-column-gap: 2%;
}

.grid-item {
    padding-top: 2rem;
    grid-column: 2 / span 4;
}

.clock-styling {
    background-color: #000000;
    color: #66ff33;
    width: 73px;
    letter-spacing: 2px;
}

.mouseover-div {
    height: 75px;
    width: 75px;
    border: #000000 1px solid;
    margin: 0.5rem;
    background-color: #ffff;
}

.get-col-but {
    margin-left: 0.5rem;
}

.slideshow-container {
    max-width: auto;
    margin: auto;
    position: relative;
}

.slideshow-slide {
    height: 300px;
    max-width: auto;
    display: none;
    float: left;
}

.slideshow-slide img {
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide-count {
    /* color: #f2f2f2; */
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.slide-fade {
    -webkit-animation-name: slide-fade;
    -webkit-animation-duration: 1.7s;
    animation-name: slide-fade;
    animation-duration: 1.7s;
}

@-webkit-keyframes slide-fade {
    from {opacity: .3}
    to {opacity: 1}
}

@keyframes slide-fade {
    from {opacity: .3}
    to {opacity: 1}
}


/* SIDEBAR */

.sidebar {
    grid-row: 2 / span 5;
    background-color: #f7f7f7;
    padding: 2%, 0%, 0%, 0%;
}

.sidebar-header {
    padding-bottom: 0.7rem;
}

.sidebar div a {
    text-decoration: none;
    padding: 2%;
}

.sidebar div a:hover {
    font-size: 105%;
    transition-duration: 0.2ms;
}


/* FOOTER */

footer {
    grid-column: 1 / span 5;
    background-color: #f7f7f7;
}

.footer-txt {
    display: inline;
    padding-left: 3%;
    padding-right: 3%;
}

.footer-link {
    float: right;
}

footer div a {
    text-decoration: none;
}